{% extends 'base.html.twig' %}

{% block title %}Hello inattendu{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello inattendu{{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/florent/Documents/Symfony/projet_eventyr/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <a href="{{ '/home' }}">templates/home/index.html.twig</a></li>
        <li>Your template at <a href="{{ '/home/decouverte' }}">templates/home/decouverte.html.twig</a></li>
        <li>Your template at <a href="{{ '/home/inattendu' }}">templates/home/inattendu.html.twig</a></li>
        <li>Your template at <a href="{{ '/home/extreme' }}">templates/home/extreme.html.twig</a></li>

    </ul>
</div>
{% for offer in offers %}
            <tr>
                <td>{{ offer.id }}</td>
                <td>{{ offer.offerName }}</td>
                <td>{{ offer.offerType }}</td>
                <td>{{ offer.offerHosting }}</td>
                <td>{{ offer.offerDifficulty }}</td>
                <td>{{ offer.offerDescription }}</td>
                <td>{{ offer.offerMapPhoto }}</td>
                <td>{{ offer.offerStartPhoto }}</td>
                {# {% for date_price in dates_prices %}
                <td>{{ date_price.price}}</td>
                {% endfor %} #}
                <td>
                    <a href="{{ path('offers_show', {'id': offer.id}) }}">show</a>
                    {# <a href="{{ path('offers_edit', {'id': offer.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
{% endblock %}
