{% extends 'base.html.twig' %}

{% block title %}Offers{% endblock %}

{% block body %}
    <h1>Offers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offer.id }}</td>
            </tr>
            <tr>
                <th>Offer_name</th>
                <td>{{ offer.offerName }}</td>
            </tr>
            <tr>
                <th>Offer_type</th>
                <td>{{ offer.offerType }}</td>
            </tr>
            <tr>
                <th>Offer_hosting</th>
                <td>{{ offer.offerHosting }}</td>
            </tr>
            <tr>
                <th>Offer_difficulty</th>
                <td>{{ offer.offerDifficulty }}</td>
            </tr>
            <tr>
                <th>Offer_description</th>
                <td>{{ offer.offerDescription }}</td>
            </tr>
            <tr>
                <th>Offer_map_photo</th>
                <td>{{ offer.offerMapPhoto }}</td>
            </tr>
            <tr>
                <th>Offer_start_photo</th>
                <td>{{ offer.offerStartPhoto }}</td>
            </tr>
        </tbody>
    </table>
    {% for datesoffers in offer.datesprices %}
        <a href="{{ path("bookings_prevalidation",{"id":datesoffers.id} ) }}">{{datesoffers.price}} </a>

    {% endfor %}

    <a href="{{ path('offers_index') }}">back to list</a>

    {# <a href="{{ path('offers_edit', {'id': offer.id}) }}">edit</a> #}

    {# {{ include('offers/_delete_form.html.twig') }} #}
     <section class="container">
        <div class="zelande">
        <h2>Sports extrêmes dans la région de Queenstown, <br> Nouvelle-Zélande</h2>
        <p>Située dans la région d’Otago, sur l’Île du Sud, la ville de Queenstown est très certainement la capitale
            mondiale des sports extrêmes. Une quantité incroyable d’activités au haut taux de sensations fortes s’offrent
            effectivement à vous dans cette ville.</p>
        <div class="pictos">
            <div class="jours">
                <img src="assets/images/sablier.svg" alt="image sablier" class="pictolink">
                <p>10 JOURS</p>
            </div>
    
            <div class="difficulte">
                <img src="assets/images/difficile.svg" alt="image difficile" class="pictolink">
                <p>DIFFICILE</p>
            </div>
    
            <div class="hebergement">
                <img src="assets/images/hotel.svg" alt="image hotel" class="pictolink">
                <p>HÔTELS</p>
            </div>
        </div>
        </div>
    </section>
    
    <section class="container">
        <div class="article">
            <div class="sensations">
                <h3>SENSATIONS FORTES GARANTIES <br> EN NOUVELLE-ZÉLANDE</h3>
                <p>Saut à l’élastique à 134 mètres, tyrolienne d’une hauteur de 30 étages qui propulse ses visiteurs à une
                    vitesse de 70 km/h, heli-biking (être déposé en hélicoptère au sommet d’une montagne afin de la
                    descendre en vélo) dans la chaîne de montagnes des Remarkables, zorbing (descente d’une colline à
                    l’intérieur d’une sphère coussinée), canyon swinging (se lancer dans un canyon afin de se balancer au
                    bout d’un câble), saut en parachute, jetboating (bateau hyper rapide qui sillonne les eaux au fond d’un
                    canyon) et plus encore !
    
                    <br><br>
                    <b> Hébergement :</b>
                    Vous serez hébergé dans la ville de Queenstown à l’hôtel Eichardt's (l'hôtel privé le plus primé du
                    pays) dans une suite offrant une vue imprenable sur le lac Wakatipu et les montagnes environnantes. Vous
                    pourrez également profitez du SPA, avec jacuzzi extérieur et le sauna privé.
                    <br><br>
                    <b> Repas : </b>
                    Vous aurez le choix de prendre vos repas :
                    <br><br>
                    Eichardts Bar – Bar à tapas servant des spécialités de la cuisine locale. Sert le déjeuner et le dîner
                    tous les jours.
                    <br><br>
                    The Grille – Restaurant un bar servant des spécialités de la cuisine locale. Ouvert tous les jours.
                </p>
            </div>
            <div class="carte">
                <img src="assets/images/Group 380.png" alt="image hotel"">
    
            </div>
        </div>
    
    </section>
    <section class="voyagiste container">
        <div class="div31">
            <h3>“</h3>
            <p>★★★ <br>
                Nous avons passé un merveilleux voyage en Nouvelle Zélande.
                Les prestations étaient parfaitement organisées et les sensations fortes au rendez-vous.</p>
        </div>
        <div class="div32">
            <h3>“</h3>
            <p>★★★ <br>
                J’ai vécu des expériences extrèmes, dans un cadre époustouflant,un grand merci.</p>
        </div>
        <div class="div33">
            <h3>“</h3>
            <p>★★★ <br>
                Dès les premiers instants on en prend plein les yeux. Je conseille fortement ce séjour pour ceux qui veulent se dépasser.</p>
        </div>
    
        <div class="div34">
            <div class="voyage">
                <div class="journee">
                    <p><b>JOUR 1</b></p>
                </div>
                <div class="bulle">
                    <img src="assets/images/Group 32.svg" alt="bullet">
                </div>
                <div class="libelle">
                    <p><b>VOL POUR QUEENSTOWN</b></p>
                </div>
            </div>
            <div class="voyage">
                <div class="journee">
                    <p><b>JOUR 2</b></p>
                </div>
                <div class="bulle">
                    <img src="assets/images/Group 32.svg" alt="bullet">
    
                </div>
                <div class="libelle">
                    <P> <b>QUEENSTOWN</b>
                        <br>
                        Transfert privé et installation pour huit nuits sur les rives du sublime lac Wakatipu, dans une
                        adresse emblématique du centre-ville. Une ancienne demeure du XIXe siècle reconvertie en hôtellerie
                        chic : le design intérieur signé Virgina Fisher est racé, raffiné et légèrement décalé entre pièces
                        antiques et objets modernes. Un nouveau bâtiment contemporain est accolé à la maison historique et
                        le contraste rendu est des plus pointus. Les chambres sont spacieuses et chaleureuses, chacune
                        agrémentée d'une cheminée et de vues sur le lac ou les montagnes qui ceinturent Queenstown.
                    </P>
                </div>
            </div>
            <div class="voyage">
                <div class="journee">
                    <p><b>JOUR 3</b></p>
                </div>
                <div class="bulle">
                    <img src="assets/images/Group 32.svg" alt="bullet">
    
                </div>
                <div class="libelle">
                    <P> <b>QUEENSTOWN</b>
                        <br>
                        La région compile les merveilles naturelles ; il s’y pratique aussi une agriculture qui se traduit
                        par de bien belles choses - les vins de Central Otago, pour ne citer qu’eux, que l’on peut dénicher
                        dans les boutiques ou dans les fermes-mêmes. Il s’y est ajouté récemment une nouvelle dimension : en
                        tournant ici son adaptation du Seigneur des Anneaux de J.R.R. Tolkien, Peter Jackson en a fait la
                        Terre du Milieu. Queenstown, quant à elle, incarne la capitale néo-zélandaise des activités outdoor,
                        été comme hiver. Un tour sur le lac Wakatipu, à bord du TSS Earnslaw, vapeur de 1912, est un
                        délicieux moment de nostalgie voyageuse.
                    </P>
                </div>
            </div>
            <div class="voyage">
                <div class="journee">
                    <p><b>JOUR 4</b></p>
                </div>
                <div class="bulle">
                    <img src="assets/images/Group 32.svg" alt="bullet">
    
                </div>
                <div class="libelle">
                    <P> <b>KAWARAU BUNGY</b>
                        <br>
                        Au programme : direction le Kawarau Bungy à 30 mn de Queenstown pour effectuer votre première
                        expérience extrème avec un saut à l’élastique à 134 mètres, et une tyrolienne d’une hauteur de 30
                        étages qui propulse ses visiteurs à une vitesse de 70 km/h. Retour à l’hôtel en fin d’après-midi
                    </P>
                </div>
            </div>
            <div class="voyage">
                <div class="journee">
                    <p><b>JOUR 5</b></p>
                </div>
                <div class="bulle">
                    <img src="assets/images/Group 32.svg" alt="bullet">
    
                </div>
                <div class="libelle">
                    <P> <b>MOUNT ASPIRING NATIONAL PARK</b>
                        <br>
                        Au programme : direction The braided Dart River qui s'enfonce dans le parc national du Mont
                        Aspiring, serpentant à travers les lieux de tournage du Seigneur des Anneaux. Une aventure en jet
                        boat est une combinaison unique de paysages spectaculaires, de patrimoine maori et d'adrénaline.
                        Retour à l’hôtel en fin d’après-midi.
                    </P>
                </div>
            </div>
            <div class="voyage">
                <div class="journee">
                    <p><b>JOUR 6</b></p>
                </div>
                <div class="bulle">
                    <img src="assets/images/Group 32.svg" alt="bullet">
    
                </div>
                <div class="libelle">
                    <P> <b>QUEENSTOWN</b>
                        <br>
                        Au programme : avec 60 mètres de chute libre, le Canyon Swing est le saut de falaise le plus haut du
                        monde. C'est une expérience unique. C'est un saut sans égal. Retour à l’hôtel en fin de matinée.
                        Nous vous laissons votre après-midi pour vous reposer.
                    </P>
                </div>
            </div>
            <div class="voyage">
                <div class="journee">
                    <p><b>JOUR 7</b></p>
                </div>
                <div class="bulle">
                    <img src="assets/images/Group 32.svg" alt="bullet">
    
                </div>
                <div class="libelle">
                    <P> <b>CORONET CARDRONA COMBO</b>
                        <br>
                        Au programme : le top du top avec 2 vols et 2 bike parks épiques. Envolez-vous en hélicoptère
                        d'abord vers Cardrona pour une demi-journée de bon tour à vélo, suivi d'un deuxième vol jusqu'au
                        sommet de Coronet pour une autre session de tours ou d'action en descente !
                        Retour à l’hôtel en fin d’après-midi.
                    </P>
                </div>
            </div>
            <div class="voyage">
                <div class="journee">
                    <p><b>JOUR 8</b></p>
                </div>
                <div class="bulle">
                    <img src="assets/images/Group 32.svg" alt="bullet">
    
                </div>
                <div class="libelle">
                    <P> <b>QUEENSTOWN</b>
                        <br>
                        Au programme : descente d’une colline à l’intérieur d’une sphère coussinée (zorbing), l'occasion
                        idéale de laisser l'enfant qui sommeille en vous s'amuser. Puis direction le saut en parachute à
                        bord d'un petit avion et sautez en parachute en tandem avec un guide expérimenté. En chute libre
                        pendant une minute à la vitesse limite, vous pourrez atteindre des vitesses allant jusqu'à 124 m/h
                        (200 km/h), puis détendez-vous en admirant les vues sur le lac Wakatipu et la chaîne de montagnes
                        Remarkables.
                        Retour à l’hôtel en fin d’après-midi.
                    </P>
                </div>
            </div>
            <div class="voyage">
                <div class="journee">
                    <p><b>JOUR 9</b></p>
                </div>
                <div class="bulle">
                    <img src="assets/images/Group 32.svg" alt="bullet">
    
                </div>
                <div class="libelle">
                    <P> <b>QUEENSTOWN</b>
                        <br>
                        Au programme : Une croisière dans le fjord de Milford Sound. On y va en avion à partir de Queenstown
                        ; on en revient de la même façon. Le survol des montagnes et des glaciers du parc national Fjordland
                        - inscrit au patrimoine mondial de l’UNESCO - est à couper le souffle. Et la navigation dans le
                        fjord, dont les parois abruptes peuvent s’élever à plus de mille mètres au-dessus de l’eau, offre
                        l’expérience d’une certaine majesté géologique. Deux chutes spectaculaires permanentes : Lady Bowen
                        Falls et Stirling Falls. Des grands dauphins viennent jouer le long de la coque ; on aperçoit des
                        phoques, des gorfous et, parfois, des baleines à bosse ou des baleines franches australes.
                    </P>
                </div>
            </div>
            <div class="voyage">
                <div class="journee">
                    <p><b>JOUR 10</b></p>
                </div>
                <div class="bulle">
                    <img src="assets/images/Group 32.svg" alt="bullet">
    
                </div>
                <div class="libelle">
                    <P> <b>VOL POUR PARIS</b>
    
                </div>
            </div>
        </div>
    </section>
    
    
    <section class="images container-fluid photos">
    
     
            <div class="photo1"> 
                <img src="assets/images/e7d632c6-1698-11e3-856f-00144feabdc0 3 (1).jpg" alt="photo" class="gallery__img">
    
            </div>
            <div class="photo2"> 
                <img src="assets/images/Rectangle 1170 (1).jpg" alt="photo" class="gallery__img">
    
            </div>
            <div class="photo3"> 
                <img src="assets/images/ce 3 (1).jpg" alt="photo" class="gallery__img">
    
            </div>
            <div class="photo4"> 
                <img src="assets/images/4391118-eichardts-private-hotel-queenstown-new-zealand 1 (1).jpg" alt="photo" class="gallery__img">
    
            </div>
            <div class="photo5"> 
                <img src="assets/images/Rectangle 1233 (1).jpg" alt="photo" class="gallery__img">
    
            </div>
            <div class="photo6"> 
                <img src="assets/images/candidat-qui-saute-dans-le-vide@2x 1 (1).jpg" alt="photo" class="gallery__img">
    
            </div>
            <div class="photo7"> 
                <img src="assets/images/enhanced-buzz-wide-17518-1393305707-9-690x517 3 (1).jpg" alt="photo" class="gallery__img">
    
            </div>
            
            <div class="photo8"> 
                <img src="assets/images/394682_WideInspirationalPhoto1170.jpg" alt="photo" class="gallery__img">
    
            </div>
            <div class="photo9"> 
                <img src="assets/images/108175_eichardt-s-private-hotel_.jpg" alt="photo" class="gallery__img">
            </div>
        </section>
{% endblock %}
