{% extends 'base.html.twig' %}

{% block title %}Offers{% endblock %}

{% block body %}
    <h1>Offers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offer.id }}</td>
            </tr>
            <tr>
                <th>Offer_name</th>
                <td>{{ offer.offerName }}</td>
            </tr>
            <tr>
                <th>Offer_type</th>
                <td>{{ offer.offerType }}</td>
            </tr>
            <tr>
                <th>Offer_hosting</th>
                <td>{{ offer.offerHosting }}</td>
            </tr>
            <tr>
                <th>Offer_difficulty</th>
                <td>{{ offer.offerDifficulty }}</td>
            </tr>
            <tr>
                <th>Offer_description</th>
                <td>{{ offer.offerDescription }}</td>
            </tr>
            <tr>
                <th>Offer_map_photo</th>
                <td>{{ offer.offerMapPhoto }}</td>
            </tr>
            <tr>
                <th>Offer_start_photo</th>
                <td>{{ offer.offerStartPhoto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('offers_index') }}">back to list</a>

    {# <a href="{{ path('offers_edit', {'id': offer.id}) }}">edit</a> #}

    {# {{ include('offers/_delete_form.html.twig') }} #}
{% endblock %}
